<footer class="footer section gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mr-auto col-sm-6">
        <div class="widget mb-5 mb-lg-0">
          <div class="logo mb-4">
            <img style="width:200px;" src="../assets/logo.png" alt="" class="img-fluid">
          </div>
          <p>Cabinet dentaire Cavalaire - St Tropez - Lavandou<br>130 Rue du port Résidence Le Beau Rivage<br>1er etage<br>83240 Cavalaire</p>

          <ul class="list-inline footer-socials mt-4">
            <li class="list-inline-item"><a href="https://www.facebook.com/themefisher"><i class="icofont-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/themefisher"><i class="icofont-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://www.pinterest.com/themefisher/"><i class="icofont-linkedin"></i></a></li>
          </ul>
        </div>
      </div>



      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="widget mb-5 mb-lg-0">
          <h4 class="text-capitalize mb-3">En savoir plus</h4>
          <div class="divider mb-4"></div>

          <ul class="list-unstyled footer-menu lh-35">

            <li><a href="#">Mentions légales</a></li>

            <li><a href="#">Code de déontologie dentaire</a></li>
            <li><a href="http://www.ordre-chirurgiens-dentistes.fr" target="_blank">Ordre national des chirurgiens-dentistes</a></li>
            <li><a href="http://www.ordre-chirurgiens-dentistes.fr/annuaire/" target="_blank">Annuaire des chirurgiens-dentistes</a></li>

          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="widget widget-contact mb-5 mb-lg-0">
          <h4 class="text-capitalize mb-3">Restons en contact</h4>
          <div class="divider mb-4"></div>

          <div class="footer-contact-block mb-4">
            <div class="icon d-flex align-items-center">
              <i class="icofont-email mr-3"></i>
              <span class="h6 mb-0">Par E-mail</span>
            </div>
            <h4 class="mt-2"><a href="tel:+23-345-67890">Support@email.com</a></h4>
          </div>

          <div class="footer-contact-block">
            <div class="icon d-flex align-items-center">
              <i class="icofont-support mr-3"></i>
              <span class="h6 mb-0">Par Téléphone</span>
            </div>
            <h4 class="mt-2"><a href="tel:+23-345-67890">+33 4 94 01 91 01</a></h4>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-btm py-4 mt-5">
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-6">
          <div >
             Co-Web Dentaire <span class="text-color">STAUMONT Antoine</span>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="subscribe-form text-lg-right mt-5 mt-lg-0">
            <form action="#" class="subscribe">
              <input type="text" class="form-control" placeholder="Your Email address">
              <a href="#" class="btn btn-main-2 btn-round-full">Subscribe</a>
            </form>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <a class="backtop js-scroll-trigger" href="#top">
            <i class="icofont-long-arrow-up"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
