<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">Dr GRARD Valéry, chirurgien-dentiste</span>
          <h1 class="text-capitalize mb-5 text-lg">Notre cabinet</h1>

          <!-- <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">All Department</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<br>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/cabinet1" style="max-height:500px; width:auto; display: block; margin-left: auto;
margin-right: auto;" class="d-block " alt="...">
    </div>
    <div class="carousel-item">
      <img src="../assets/cabinet2" style="max-height:500px; width:auto; display: block; margin-left: auto;
margin-right: auto;" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../assets/cabinet3" style="max-height:500px; width:auto; display: block; margin-left: auto;
margin-right: auto;" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../assets/cabinet4" style="max-height:500px; width:auto; display: block; margin-left: auto;
margin-right: auto;" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../assets/cabinet5" style="max-height:500px; width:auto; display: block; margin-left: auto;
margin-right: auto;" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../assets/cabinet6" style="max-height:500px; width:auto; display: block; margin-left: auto;
margin-right: auto;" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../assets/cabinet7" style="max-height:500px; width:auto; display: block; margin-left: auto;
margin-right: auto;" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../assets/cabinet8" style="max-height:500px; width:auto; display: block; margin-left: auto;
margin-right: auto;" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../assets/cabinet9" style="max-height:500px; width:auto; display: block; margin-left: auto;
margin-right: auto;" class="d-block" alt="...">
    </div>
  </div>

</div>

<section class="section about-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h2 class="title-color">Bienvenue dans notre cabinet dentaire</h2>
      </div>
      <div class="col-lg-8">
        <p>Le Docteur GRARD, chirurgien-dentiste à Cavalaire, proche de St Tropez et Lavandou, est heureuse de vous accueillir sur le site Internet de son cabinet.<br>

 La dentisterie moderne, et les progrès de la profession permettent au Dr GRARD de vous accompagner quotidiennement pour une bonne hygiène dentaire, des soins spécifiques en implantologie, parfaitement adaptés avec le souci permanent de la meilleure esthétique dentaire.<br>



Le docteur GRARD pratique  une Dentisterie générale et plus particulierement la parodontologie, l'implantologie et la chirurgie buccale. Par ailleurs, nous assurons vos soins en Endodontie, vos eclaircissements de dents au cabinet, mais aussi  la pose de prothèses fixes et amovibles.</p>
        <img src="images/about/sign.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>


<section class="section testimonial">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-6">
        <div class="section-title">
          <h2 class="mb-4">L'esprit de notre cabinet</h2>
          <div class="divider  my-4"></div>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6 testimonial-wrap offset-lg-6">

        <div class="testimonial-block">
          <div class="client-info ">

            <h4>Un plateau technique moderne</h4>

          </div>
          <p>
            Nous sommes là pour vous conseiller le meilleur de la technologie éprouvée et approuvée scientifiquement , un traitement personnalisé le plus simple et le moins onéreux possible tout en vous apportant le meilleur des pronostics.
          </p>
          <i class="icofont-quote-right"></i>

        </div>

        <div class="testimonial-block">
          <div class="client-info ">
            <h4>Un service personnalisé</h4>

          </div>
          <p>
            Parce que chaque cas est différent votre première visite nous permettra de trouver la solution personnalisée et de vous proposer immédiatement les examens complémentaires nécessaires à l'établissement d un plan de traitement et d'un devis.
          <i class="icofont-quote-right"></i>

        </div>


        <div class="testimonial-block">
          <div class="client-info">
            <h4>Une approche conservatrice</h4>

          </div>
          <p>
            Notre but est de vous garder un maximum de dents naturelles sur l'arcade : vos dents si elles sont fonctionnelles vous permettent de garder 'une proprioception' c'est-à-dire de sentir réellement ce que vous mastiquez.


          </p>
          <i class="icofont-quote-right"></i>
        </div>

        <div class="testimonial-block">
          <div class="client-info">
            <h4>Une dentisterie raisonnée</h4>

          </div>
          <p>
            Extraire toutes vos dents pour les remplacer par des implants n'est pas la solution idéale ! Elle doit être réservée aux cas extrêmes où aucune dent ne peut être fonctionnelle sur l'arcade. Les nouvelles techniques sauvent plus de dents !


          </p>
          <i class="icofont-quote-right"></i>
        </div>


        <div class="testimonial-block">
          <div class="client-info">
            <h4>Des soins sans douleur</h4>

          </div>
          <p>
            Chaque acte thérapeutique pouvant entrainer une douleur est effectuée sous anesthésie locale.
Un traitement post-opératoire vous permettra de ne pas avoir mal après votre soin.
<br>
<br>
          </p>
          <i class="icofont-quote-right"></i>
        </div>



        <div class="testimonial-block">
          <div class="client-info">
            <h4>Une disponibilité sans faille</h4>

          </div>
          <p>
            Dans le cadre de votre traitement et quelque soit votre souci, nous sommes joignables et vous recevrons en urgence si besoin est.
            <br>
            <br>
            <br>
          </p>
          <i class="icofont-quote-right"></i>
        </div>

        <div class="testimonial-block">
          <div class="client-info">
            <h4>Une totale transparence</h4>

          </div>
          <p>
            Nos tarifs se situent dans la moyenne nationale et un devis vous est remis pour tout acte le nécessitant.
            <br>
            <br>
            <br>
            <br>
          </p>
          <i class="icofont-quote-right"></i>
        </div>

      </div>
    </div>
  </div>
</section>




<section class="section team">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-title text-center">
          <h2 class="mb-4">L'équipe "garder le sourire"</h2>
          <div class="divider mx-auto my-4"></div>
          <p>Une équipe complète et motivée pour une prise en charge optimale</p>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team-block mb-5 mb-lg-0">
          <img src="../assets/AvatarValery.png" alt="" class="img-fluid w-100">

          <div class="content">
            <h4 class="mt-4 mb-0"><a href="doctor-single.html">Dr GRARD Valéry</a></h4>
            <p>Chirurgien-dentiste</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team-block mb-5 mb-lg-0">
          <img src="../assets/avatarcollaboratrice.png" alt="" class="img-fluid w-100">

          <div class="content">
            <h4 class="mt-4 mb-0"><a href="doctor-single.html">Christelle</a></h4>
            <p>Collaboratrice</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team-block mb-5 mb-lg-0">
          <img src="../assets/avatarcollaboratrice.png" alt="" class="img-fluid w-100">

          <div class="content">
            <h4 class="mt-4 mb-0"><a href="doctor-single.html">Virginie</a></h4>
            <p>Collaboratrice</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team-block mb-5 mb-lg-0">
          <img src="../assets/avatarcollaboratrice.png" alt="" class="img-fluid w-100">

          <div class="content">
            <h4 class="mt-4 mb-0"><a href="doctor-single.html">Johanna</a></h4>
            <p>Collaboratrice</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<section class="contact-form-wrap section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-title text-center">
                    <h2 class="text-md mb-2">Accéder au cabinet dentaire</h2>

                    <div class="divider mx-auto my-4"></div>
                    <br>
                </div>
<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="feature-block d-lg-flex">
          <div class="feature-item mb-5 mb-lg-0">
            <div class="feature-icon mb-4">
              <i class="icofont-car-alt-3"></i>
            </div>
            <span>Service en ligne</span>
            <h4 class="mb-3">Se garer autour du cabinet</h4>
            <p class="mb-4">Le parking le plus proche est situé derrière le gymnase (400 places)

La rue Pierre et Marie Curie est parralèlle à la rue du port et dispose d'une centaine de place en zone bleue (stationnement gratuit et limité à 1h30).</p>

          </div>

          <div class="feature-item mb-5 mb-lg-0">
            <div class="feature-icon mb-4">
              <i class="icofont-ui-clock"></i>
            </div>
            <span>Uniquement sur Rendez-Vous</span>
            <h4 class="mb-3">Horaires d'ouverture</h4>
            <ul class="w-hours list-unstyled">
                        <li class="d-flex justify-content-between">Lu-Ma-Me-Ve : <span>8:00-12:30|14h00-18h30</span></li>
                        <li class="d-flex justify-content-between">Jeudi : <span>8:00 - 12:30</span></li>
                        <li class="d-flex justify-content-between">Sa - Dim : <span style = "color:red;">fermé</span></li>
                    </ul>
          </div>

          <div class="feature-item mb-5 mb-lg-0">
            <div class="feature-icon mb-4">
              <i class="icofont-support"></i>
            </div>
            <span>Nous contacter par téléphone</span>
            <h4 class="mb-3">+33 4 94 01 91 01</h4>
            <p>En cas d'urgence, veuillez consulter notre page dédiée.</p>
            <a href="appoinment.html" class="btn btn-main btn-round-full">Urgence</a>

            <p class="mb-4"><br><strong>Adresse :</strong> 130 Rue du port Résidence Le Beau Rivage 1er étage 83240 Cavalaire</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>

<div class="google-map ">
    <div id="map"></div>
</div>
</div>
</div>
</div>
</section>
