<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">

          <h1 class="text-capitalize mb-5 text-lg">Docteur GRARD Valéry</h1>

          <!-- <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">Doctor Details</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section doctor-single">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="doctor-img-block">
          <img src="../assets/AvatarValery.png" alt="" class="img-fluid w-100">

          <div class="info-block mt-4">
            <h4 class="mb-0">Dr Valery GRARD</h4>
            <p>Chirurgien-dentiste</p>

            <%#<ul class="list-inline mt-4 doctor-social-links">
              <li class="list-inline-item"><a href="#"><i class="icofont-facebook"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="icofont-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="icofont-skype"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="icofont-linkedin"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="icofont-pinterest"></i></a></li>
            </ul>%>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-md-6">
        <div class="doctor-details mt-4 mt-lg-0">
          <h2 class="text-md">Bienvenue</h2>
          <div class="divider my-4"></div>
          <p>Le Docteur GRARD, chirurgien-dentiste à Cavalaire, proche de St Tropez et Lavandou, est heureuse de vous accueillir sur le site Internet de son cabinet.<br>

 La dentisterie moderne, et les progrès de la profession permettent au Dr GRARD de vous accompagner quotidiennement pour une bonne hygiène dentaire, des soins spécifiques en implantologie, parfaitement adaptés avec le souci permanent de la meilleure esthétique dentaire.<br>



Le docteur GRARD pratique  une Dentisterie générale et plus particulierement la parodontologie, l'implantologie et la chirurgie buccale. Par ailleurs, nous assurons vos soins en Endodontie, vos eclaircissements de dents au cabinet, mais aussi  la pose de prothèses fixes et amovibles.</p>

          <a href="<%=pages_contact_path%>" class="btn btn-main-2 btn-round-full mt-3">Contacter le cabinet dentaire<i class="icofont-simple-right ml-2  "></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section doctor-qualification gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section-title">
          <h3>Les qualifications du Dr Grard Valéry</h3>
          <div class="divider my-4"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="edu-block mb-5">
          <span class="h6 text-muted">1994</span>
          <h4 class="mb-3 title-color">Conseil de l'ordre des chirurgiens-dentistes</h4>
          <p>Premier prix au concours de déontologie du conseil de l’ordre des chirurgiens-dentistes</p>
        </div>

        <div class="edu-block">
          <span class="h6 text-muted">1995</span>
          <h4 class="mb-3 title-color">Faculté d’odontologie Université de la méditerranée Aix-Marseille II</h4>
          <p>Diplôme d’État de docteur en chirurgie-dentaire<br>Diplôme de maitrise de sciences biologiques et médicales </p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="edu-block mb-5">
          <span class="h6 text-muted">1996 – 1997</span>
          <h4 class="mb-3 title-color">Faculté d’odontologie Université de la méditerranée Aix-Marseille II</h4>
          <p>Diplôme universitaire de parodontologie<br>Certificat d’études supérieures de prothèse scellée<br>Certificat d’études supérieures de parodontologie</p>
        </div>

        <div class="edu-block">
          <span class="h6 text-muted">1998 - 1999</span>
          <h4 class="mb-3 title-color">Faculté d’odontologie Université de la méditerranée Aix-Marseille II</h4>
          <p>Diplôme universitaire d’anthropologie odontologie médico-légale </p>
        </div>
      </div>


      <div class="col-lg-6">
        <div class="edu-block mb-5">
          <span class="h6 text-muted">2000 - 2003</span>
          <h4 class="mb-3 title-color">Faculté d’odontologie Université de la méditerranée Aix-Marseille II</h4>
          <p>Diplôme universitaire d’implantologie </p>
        </div>

        <div class="edu-block">
          <span class="h6 text-muted">2015</span>
          <h4 class="mb-3 title-color">Association Universitaire d'Implantologie</h4>
          <p>Certificat de compétence clinique en chirurgie dentaire lasers assistée </p>
        </div>
      </div>


      <div class="col-lg-6">
        <div class="edu-block mb-5">
          <span class="h6 text-muted">2018</span>
          <h4 class="mb-3 title-color">Université de Nice</h4>
          <p>Attestation d’études universitaires en imagerie 3D </p>
        </div>


      </div>




    </div>
  </div>
</section>


<section class="section doctor-skills">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h3>En résumé</h3>
        <div class="divider my-4"></div>
        <p>Le docteur GRARD pratique  une Dentisterie générale et plus particulierement la parodontologie, l'implantologie et la chirurgie buccale. Par ailleurs, elle assure vos soins en Endodontie, vos eclaircissements de dents au cabinet, mais aussi la pose de prothèses fixes et amovibles.</p>
      </div>
      <div class="col-lg-4">
        <div class="skill-list">
          <h5 class="mb-4">Ses compétences</h5>
          <ul class="list-unstyled department-service">
            <li><i class="icofont-check mr-2"></i>Parodontologie</li>
            <li><i class="icofont-check mr-2"></i>Implantologie</li>
            <li><i class="icofont-check mr-2"></i>Chirurgie buccale</li>
            <li><i class="icofont-check mr-2"></i>Esthétique</li>
            <li><i class="icofont-check mr-2"></i>Prothèses fixes et amovibles</li>
            <li><i class="icofont-check mr-2"></i>Soins conservateurs</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="sidebar-widget  gray-bg p-4">
          <h5 class="mb-4">Infos du cabinet dentaire</h5>

          <ul class="list-unstyled lh-35">
            <li class="d-flex justify-content-between align-items-center">
              <a href="#">Lu-Ma-Me-Ve :</a>
              <span>8:00-12:30|14h00-18h30</span>
            </li>
            <li class="d-flex justify-content-between align-items-center">
              <a href="#">Jeudi :</a>
              <span>8:00 - 12:30</span>
            </li>
            <li class="d-flex justify-content-between align-items-center">
              <a href="#">Sa - Dim :</a>
              <span style = "color:red;">Fermé</span>
            </li>
          </ul>

          <div class="sidebar-contatct-info mt-4">
            <p class="mb-0">Vous voulez nous contacter?</p>
            <h3 class="text-color-2">+33 4 94 01 91 01</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
