

<body id="top">






<!-- Slider Start -->
<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-xl-7">
        <div class="block">
          <div class="divider mb-3"></div>
          <span class="text-uppercase text-sm letter-spacing ">Cavalaire - St Tropez - Lavandou </span>
          <h1 class="mb-3 mt-3">Cabinet Dentaire du Docteur GRARD Valéry</h1>

          <p class="mb-4 pr-5">Le Docteur GRARD, chirurgien-dentiste à Cavalaire, proche de St Tropez et Lavandou, est heureuse de vous accueillir sur le site Internet de son cabinet.</p>
          <div class="btn-container ">
            <%#<a href="appoinment.html" target="_blank" class="btn btn-main-2 btn-icon btn-round-full">Make appoinment <i class="icofont-simple-right ml-2  "></i></a> %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="feature-block d-lg-flex">
          <div class="feature-item mb-5 mb-lg-0">
            <div class="feature-icon mb-4">
              <i class="icofont-surgeon-alt"></i>
            </div>
            <span>Service en ligne</span>
            <h4 class="mb-3">Laissez nous un message</h4>
            <p class="mb-4">Profitez de notre formulaire afin de nous laisser un message.</p>
            <a href="appoinment.html" class="btn btn-main btn-round-full">Envoyer un message</a>
          </div>

          <div class="feature-item mb-5 mb-lg-0">
            <div class="feature-icon mb-4">
              <i class="icofont-ui-clock"></i>
            </div>
            <span>Uniquement sur Rendez-Vous</span>
            <h4 class="mb-3">Horaires d'ouverture</h4>
            <ul class="w-hours list-unstyled">
                        <li class="d-flex justify-content-between">Lu-Ma-Me-Ve : <span>8:00-12:30|14h00-18h30</span></li>
                        <li class="d-flex justify-content-between">Jeudi : <span>8:00 - 12:30</span></li>
                        <li class="d-flex justify-content-between">Sa - Dim : <span style = "color:red;">fermé</span></li>
                    </ul>
          </div>

          <div class="feature-item mb-5 mb-lg-0">
            <div class="feature-icon mb-4">
              <i class="icofont-support"></i>
            </div>
            <span>Nous contacter par téléphone</span>
            <h4 class="mb-3">+33 4 94 01 91 01</h4>
            <p>En cas d'urgence, veuillez consulter notre page dédiée.</p>
            <a href="appoinment.html" class="btn btn-main btn-round-full">Urgence</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 col-sm-6">
        <div class="about-img">
          <img src="../assets/cabinet2.jpeg" alt="" class="img-fluid">
          <img src="../assets/cabinet8.jpeg" alt="" class="img-fluid mt-4">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="about-img mt-4 mt-lg-0">
          <img src="../assets/AvatarValery.png" alt="" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="about-content pl-4 mt-4 mt-lg-0">
          <h2 class="title-color">NOTRE PRIORITE :<br> Votre satisfaction, Votre sourire !</h2>
          <p class="mt-4 mb-5">Nous sommes là pour vous conseiller le meilleur de la technologie éprouvée et approuvée scientifiquement.</p>


        </div>
      </div>
    </div>
  </div>
</section>

<section class="section service gray-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 text-center">
        <div class="section-title">
          <h2>Les domaines d'action du cabinet dentaire du Dr Grard Valéry</h2>
          <div class="divider mx-auto my-4"></div>
          <p>Le Docteur GRARD Valéry vous propose une pratique omnipratique offrant les soins conservateurs dentaires, mais aussi les services suivants:</p>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="icon d-flex align-items-center">
            <i class="icofont-tooth text-lg"></i>
            <h4 class="mt-3 mb-3">Parodontologie</h4>
          </div>

          <div class="content">
            <p class="mb-4">Prévention, diagnostic et traitement des maladies des tissus de support et de soutient de la dent.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="icon d-flex align-items-center">
            <i class="icofont-tooth text-lg"></i>
            <h4 class="mt-3 mb-3">Implantologie</h4>
          </div>
          <div class="content">
            <p class="mb-4">Les implants dentaires sont des racines artificielles qui remplacent des dents manquantes </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="icon d-flex align-items-center">
            <i class="icofont-operation-theater text-lg"></i>
            <h4 class="mt-3 mb-3">Chirurgie buccale</h4>
          </div>
          <div class="content">
            <p class="mb-4">Diagnostic et traitement des anomalies de la bouche, des dents et des machoires.</p>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="icon d-flex align-items-center">
            <i class="icofont-tooth text-lg"></i>
            <h4 class="mt-3 mb-3">Prothèses dentaires</h4>
          </div>

          <div class="content">
            <p class="mb-4">Dispositif dentaire remplaçant une ou plusieurs dent(s) absente(s).</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="icon d-flex align-items-center">
            <i class="icofont-star-alt-2 text-lg"></i>
            <h4 class="mt-3 mb-3">Laser</h4>
          </div>
          <div class="content">
            <p class="mb-4">Les lasers dentaires peuvent effectuer une grande variété de traitements. </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="service-item mb-4">
          <div class="icon d-flex align-items-center">
            <i class="icofont-diamond text-lg"></i>
            <h4 class="mt-3 mb-3">Esthétique</h4>
          </div>
          <div class="content">
            <p class="mb-4">Traitements dentaires visant à améliorer l'apparence de la dentition.</p>
          </div>
        </div>
      </div>
            <a href="appoinment.html" class="btn btn-main btn-round-full">En savoir plus sur nos services</a>

    </div>
  </div>
</section>
<%= render 'shared/message'%>
<section class="section testimonial-2 gray-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="section-title text-center">
          <h2>Les avis de nos patients</h2>
          <div class="divider mx-auto my-4"></div>
          <p>Notre priorité est votre entière satisfaction.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12 testimonial-wrap-2">
        <div class="testimonial-block style-2  gray-bg">
          <i class="icofont-quote-right"></i>

          <div class="testimonial-thumb">
            <img src="../assets/team/test-thumb1.jpg" alt="" class="img-fluid">
          </div>

          <div class="client-info ">
            <h4>Une technique toujours à la pointe</h4>
            <span>Audrey Borras</span>
            <p>
              Une technique toujours à la pointe depuis 15 ans, une douceur recherchée moi qui ne supporte pas les piqûres, j'ai toujours mon petit coton anesthésiant avant l'anesthésie, et un professionalisme irréprochable. Que je vienne de Paris, de Marseille ou d'ailleurs, peu m'importe les kilomètres car je sais qu'avec ce dentiste je n'ai plus jamais souffert et eu l'angoisse d'aller me faire soigner une dent. Délais acceptables.
            </p>
          </div>
        </div>

        <div class="testimonial-block style-2  gray-bg">
          <div class="testimonial-thumb">
            <img src="../assets/team/test-thumb2.jpg" alt="" class="img-fluid">
          </div>

          <div class="client-info">
            <h4>Suivi depuis plus de 20 ans</h4>
            <span>Philippe Cipolla</span>
            <p>
              Suivi depuis plus de 20 ans par le Dr GRARD, son professionalisme, sa délicatesse et sa patienceont fait de moi un inconditionnel du dentiste que ce soit pour le suivi de mes enfants ou pour mon propre compte avec des actes aussi compliqués que les poses d'implants ou de couronnes.
            </p>
          </div>

          <i class="icofont-quote-right"></i>
        </div>

        <div class="testimonial-block style-2  gray-bg">
          <div class="testimonial-thumb">
            <img src="../assets/team/test-thumb3.jpg" alt="" class="img-fluid">
          </div>

          <div class="client-info">
            <h4>Ses compétences et son professionalisme</h4>
            <span>Jean-François Demassey</span>
            <p>
              Bonjour, <br> Je recommande vivement le Dr GRARD Valéry pour ses compétences et son professionalisme. L'importance et la qulité des soins qui m'ont été prodigués sont sans reproche dans le temps passé. À connaitre absolument!
            </p>
          </div>

          <i class="icofont-quote-right"></i>
        </div>

        <div class="testimonial-block style-2  gray-bg">
          <div class="testimonial-thumb">
            <img src="../assets/team/test-thumb4.jpg" alt="" class="img-fluid">
          </div>

          <div class="client-info">
            <h4>Nice Environment!</h4>
            <span>Partho Sarothi</span>
            <p class="mt-4">
              They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam deleniti a vel eos adipisci suscipit fugit placeat.
            </p>
          </div>
          <i class="icofont-quote-right"></i>
        </div>

        <div class="testimonial-block style-2  gray-bg">
          <div class="testimonial-thumb">
            <img src="../assets/team/test-thumb1.jpg" alt="" class="img-fluid">
          </div>

          <div class="client-info">
            <h4>Modern Service!</h4>
            <span>Kolis Mullar</span>
            <p>
              They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam deleniti a vel eos adipisci suscipit fugit placeat.
            </p>
          </div>
          <i class="icofont-quote-right"></i>
        </div>
      </div>
    </div>
  </div>
</section>




  </body>

